<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Keskustelualue</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <table>
            <tr><td><b>Alue: <span th:text="${alue.nimi}"></span></b></td><td><b>Viestejä</b></td><td><b>Viimeisin viesti</b></td></tr>

            <ul th:each="keskustelu: ${keskustelut}">
                <tr><td><a th:href="${'/keskustelu/' + keskustelu.id}"><span th:text="${keskustelu.aihe}"></span></a></td>
                    <td><span th:text="${keskustelu.viestien_lkm}"></span></td>
                    <td><span th:text="${keskustelu.viimeisin}"></span></td></tr>
            </ul>
        </table>
        <br/>
        <div>Aloita uusi keskustelu:</div>
        <form method="POST" action="/alue">
            <input type="hidden" name="alue_id" th:value="${alue.id}"/>
            Otsikko:<br/>
            <input type="text" name="aihe"/><br/>
            Aloitusviesti:<br/>
            <input type="text" name="viesti"/><br/>
            <input type="submit" value="Aloita keskustelu"/>
        </form>
    </body>
</html>