<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1><span th:text="${keskustelu.aihe}">keskustelu</span></h1>

        <p>Olet saapunut keskusteluun <span th:text="${keskustelu.aihe}"></span></p>
        <ol>
            <li th:each="viesti: ${viestit}">
                <span th:text="${viesti.sisalto}">viesti</span>
            </li>
        </ol>
        <div>Osallistu keskusteluun:</div>
        <form method="POST" action="@{/keskustelut/id}">
            <textarea name="sisalto" rows="4" cols="50"></textarea><br/> <!-- tein tällaisen tekstiboksin -->
            <input type="submit" value="Lähetä viesti"/>
        </form>
    </body>
</html>
